@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Unica+One&display=swap');

:root{
  --purple: #342056;
  --dark-blue: #5454C5;
  --light-blue: #639CD9;
  --navy-blue: #192294;
}

.disabled{
  overflow-x: hidden;
}